h2.villians{
    font-stretch: wider;
    text-align: center;
}
p.villains{
    color: purple;
    text-align: center;
}
img.villains{
    font-weight: bold;
}
p1.me{
    color: green;
    font-family: cursive;
}
h1.heros{
    color: gold;
    text-align: center;
}