.villians{
    font-stretch: wider;
    text-align: center;
    color: purple;
    font-weight: bold;
}
.me{
    color: green;
    font-family: cursive;
}
.heros{
    color: gold;
    text-align: center;
}